@import "bootstrap";
@import "agency";

.bg-brand-red {background-color: $brand-red;}
.bg-brand-pink {background-color: $brand-pink;}
.bg-brand-blue {background-color: $brand-blue;}
.bg-brand-purple {background-color: $brand-purple;}
.bg-brand-yellow {background-color: $brand-yellow;}
.bg-brand-dark-purple {background-color: $brand-dark-purple;}

.fg-white {color: white; }

.pad {padding: $padding-base-horizontal; }
