# django-danceschool
-e git+https://github.com/django-danceschool/django-danceschool.git#egg=danceschool

autoflake
boto
dj-database-url
django-dotenv
django-pipeline
django-storages
gunicorn
isort
libsass
mailsnake
path.py
psycopg2
sendgrid-django
whitenoise
django-extensions
django-debug-toolbar
-e git+https://github.com/divio/django-cms.git@8fabb5c3ef8b9283b535ea1b76f029c51d3e9c29#egg=django-cms
dj-redis-url
django_managepy_anywhere

django-dynamic-preferences<1.4
