-e git+https://github.com/leetucker/django-danceschool.git#egg=django-danceschool

autoflake
dj-database-url
django-danceschool
django-dotenv
django-pipeline
django-storages
gunicorn
isort
libsass
path.py
psycopg2
sendgrid-django
whitenoise