{% extends "base_root.html" %}
{% load  staticfiles cms_tags menu_tags sekizai_tags %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}

{% include "includes/navbar.html" %}

{% block header %}{% endblock header %}

<!-- start: content -->
<hr class="sr-only" />

<div class="container">
    <div class="feature-wrapper js-feature-wrapper">
        {% block feature %}
            {% placeholder "feature" or %}
            {% endplaceholder %}
        {% endblock feature %}
    </div>
</div>


{% block messages %}
{% if messages %}
<!-- start: messages -->
<div class="container">
    {% include "includes/messages.html" %}
</div>
<!-- end: messages -->
{% endif %}
{% endblock messages %}

{% block extend_base %}
<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock extend_base %}
<hr class="sr-only" />

<!-- end: content -->

{% block footer %}
{% endblock footer %}


{% endblock extend_root %}
