{% block breadcrumb %}
{% if not request.current_page.is_home %}
<!-- start: breadcrumb -->
{# INFO: breadcrumb concept: http://getbootstrap.com/components/#breadcrumbs #}
<nav class="navbar navbar-breadcrumb" role="navigation">
    <h3 class="sr-only">You are here</h3>
    <div class="container">
        <ol class="breadcrumb">
            {% block extend_breadcrumb %}
            {% show_breadcrumb 0 "includes/menu/breadcrumb.html" %}
            {% endblock extend_breadcrumb %}
        </ol>
    </div>
</nav>
<!-- end: breadcrumb -->
{% endif %}
{% endblock breadcrumb %}
