{% extends "cms/home.html" %}
{% load cms_tags sekizai_tags static %}


{% block main %}

  <!-- Header -->
  <header class=""
          style="background-image: url('{% static 'img/hero.jpg' %}')">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome to Shimmytown</div>
        <div class="intro-heading">Come Shake It With Us!</div>
        <a type="button"
           class="btn btn-lg btn-primary"
           href="/register">REGISTER FOR CLASSES
        </a>
      </div>
    </div>
  </header>

  <section class="page-section"
           id="services">
    <div class="container-fluid p-0">
      <div class="wow fadeIn text-center"
           style="visibility: visible; animation-name: fadeIn;">
        {% placeholder "about well" %}
      </div>
      <div class="row text-center fg-white">
        <div class="bg-brand-blue p-3 col-lg-3 col-md-6">
          <i class="fa fa-pencil fa-4x"></i>
          <h3>Lessons</h3>
          <p>Group lessons in lindy hop, solo jazz, and other swing dances.</p>
        </div>
        <div class="bg-brand-dark-purple p-3 col-lg-3 col-md-6">
          <i class="fa fa-smile-o fa-4x"></i>
          <h3>Dance Party</h3>
          <p>Dance to jazz every Monday night at the Verdi Club.</p>
        </div>
        <div class="bg-brand-yellow p-3 col-lg-3 col-md-6">
          <i class="fa fa-music fa-4x"></i>
          <h3>Teams</h3>
          <p>Train up to the top and join our competition teams.</p>
        </div>
        <div class="bg-brand-red p-3 col-lg-3 col-md-6">
          <i class="fa fa-heart fa-4x"></i>
          <h3>Shimmystuff</h3>
          <p>Card games for dancers and instructors, shirts, etc.</p>
        </div>
      </div>
    </div>
  </section>

  {# Default to a single column page #}
  <div class="container-fluid"
       id="wrapper">
    <div class="row"
       id="main_row">
      <div class="col-md-8 col-md-offset-2 content-col single-column-11">

        {% block content %}
          {# Default to a single column page #}
          {% placeholder "content" %}
        {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}
