{% load  staticfiles cms_tags menu_tags sekizai_tags %}
{# INFO: navbar concept: http://getbootstrap.com/components/#navbar #}
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        {# INFO: the logo should be placed first for seo reasons #}
        <div class="navbar-header">
            {# INFO: the logo should be placed first for seo reasons #}
            <h1 class="navbar-brand">
                <a href="/">
                    <!--<span class="sr-only">{{ request.site.name }}</span>-->
                    <!--<img src="{% static 'img/logo-main@print.png' %}" alt="{{ request.site.name }}" />-->
                </a>
            </h1>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-header">
                {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
            </button>
        </div>

        <div  id="bs-example-navbar-collapse-1" class="collapse navbar-collapse js-navbar-header">
            {% block navbar %}
            <nav class="nav navbar-nav navbar-right" id="navigation">
                <h2 class="sr-only">Navigation</h2>
                {% render_model_block request.current_page "changelist" %}
                {% with dropdown="true" %}
                <ul class="nav navbar-nav">
                    {% show_menu 0 0 0 0 "includes/menu/navigation.html" %}
                    <li class="divider" role="presentation"><span class="sr-only">Separator</span></li>
                    {% show_menu_below_id "meta" 0 0 0 0 "includes/menu/navigation.html" %}
                </ul>
                {% endwith %}
                {% endrender_model_block %}
            </nav>
            {% endblock navbar %}
        </div>
    </div>
</nav>
